:root{
    --green: #1c3d3c;
    --light-green: #2B5F54;
}

.bg-brand-green{
    background-color: var(--green);
}
.text-brand-green{
    color: var(--green);
}
.border-brand-green{
    border: 1px solid var(--green);
}

.bg-brand-light-green{
    background-color: var(--light-green);
}
.text-brand-light-green{
    color: var(--light-green);
}
.border-brand-light-green{
    border: 1px solid var(--light-green);
}

.rounded-brand{
    border-radius: 20px;
}

.w-max-content{
    width: max-content;
}

.bg-img{
    background-image: url(../assets/Dark\ Background\ -\ 1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}